<%= form_for @photo do |f| %>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :rating %><br>
      <%= f.text_field :rating %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-lg btn-primary'%>
    </div><br/>
<% end %>